<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://css-speedrun.netlify.app/">
  <title>CSS Speedrun | Test your CSS Skills</title>
  <meta name="description" content="A small fun app to test your CSS knowledge. Find the correct CSS selectors for the 10 puzzles as fast as possible.">
  <meta property="og:title" content="CSS Speedrun | Test your CSS Skills">
  <meta property="og:image" content="https://css-speedrun.netlify.app/assets/css-speedrun.png">
  <meta property="og:site_name" content="CSS Speedrun | Test your CSS Skills">
  <meta property="og:description" content="A small fun app to test your CSS knowledge. Find the correct CSS selectors for the 10 puzzles as fast as possible.">
  <meta property="og:url" content="https://css-speedrun.netlify.app/">

  <meta name="twitter:creator" content="@wweb_dev" />
  <meta name="twitter:title" content="CSS Speedrun | Test your CSS Skills">
  <meta name="twitter:description" content="A small fun app to test your CSS knowledge. Find the correct CSS selectors for the 10 puzzles as fast as possible.">
  <meta name="twitter:image" content="https://css-speedrun.netlify.app/assets/css-speedrun.png">
  <meta name="twitter:card" content="summary_large_image">

  <meta name="robots" content="index,follow"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->

  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <link rel="stylesheet" href="https://newcss.net/theme/night.css">
  <link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
  <link href="/assets/prism.css" rel="stylesheet" />
  <!-- Quick start with https://newcss.net/ -->
  <link rel="stylesheet" href="index.css">
  <script defer src="https://analytics.vincentwill.com/script.js" data-website-id="1fb07e86-a0cc-49c6-9988-10e0faa3f26d"></script>
</head>
<body>
  <header>
    <a href="/">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-8 5H9v2c0 1.1-.9 2-2 2c1.1 0 2 .9 2 2v2h2v2H9c-1.1 0-2-.9-2-2v-1c0-1.1-.9-2-2-2v-2c1.1 0 2-.9 2-2V8c0-1.1.9-2 2-2h2v2m8 5c-1.1 0-2 .9-2 2v1c0 1.1-.9 2-2 2h-2v-2h2v-2c0-1.1.9-2 2-2c-1.1 0-2-.9-2-2V8h-2V6h2c1.1 0 2 .9 2 2v1c0 1.1.9 2 2 2v2z" fill="currentColor"></path></svg>
      <h1>CSS Speedrun</h1>
    </a>
    <div>
      <div class="social">
        <a target="_blank" rel="noopener" href="https://github.com/Vincenius/css-speedrun">
          <span>GitHub</span>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2z" fill="currentColor"></path></svg>
        </a>
      </div>
    </div>
  </header>

  <main>
    <details>
      <summary>How does it work?</summary>
      <p>Enter the CSS selector, which applies to all elements with an arrow ➡️ and press enter or the submit button.</p>
      <p>The timer will start once you correctly solved the first puzzle.</p>
    </details>

    <section>
      <div class="left-column" id="code-screen">
        <blockquote class="hidden" id="result-screen">
          <h3>Congratulations!</h3>

          <p>You've managed to solve all puzzles 🎉🎉🎉</p>
          <p>
            Feel free to checkout
            the <a target="_blank" rel="noopener" href="https://github.com/Vincenius/css-speedrun">GitHub Repository</a> and
            create your own puzzles. Please let me know on <a target="_blank" rel="noopener" href="https://twitter.com/wweb_dev">Twitter</a> if
            you do so :)
          </p>
          <a target="_blank" rel="noopener" href="" id="share-tweet">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M17.71 9.33c.48-.4 1.04-.88 1.29-1.41c-.41.21-.9.34-1.44.41c.5-.36.91-.83 1.12-1.47c-.52.28-1.05.52-1.71.64c-1.55-1.87-5.26-.35-4.6 2.45c-2.61-.16-4.2-1.34-5.52-2.79c-.75 1.22-.1 3.07.79 3.58c-.46-.03-.81-.17-1.14-.33c.04 1.54.89 2.28 2.08 2.68c-.36.07-.76.09-1.14.03c.37 1.07 1.14 1.74 2.46 1.88c-.9.76-2.56 1.29-3.9 1.08c1.15.73 2.46 1.31 4.28 1.23c4.41-.2 7.36-3.36 7.43-7.98M12 2a10 10 0 0 1 10 10a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2z" fill="currentColor"></path></svg>
            Share your result
          </a>
        </blockquote>

        <input id="css-input" placeholder="Enter CSS selector eg. div > .foo"  autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" />
        <button id="submit">-></button>
        <p id="next-level" class="hidden">Press enter or the submit button to continue</p>
        <p id="solution" class="hidden">
          devs choice:
          <code id="solution-code"></code>
        </p>

        <div class="codebox">
          <pre><code id="html-goal" class="language-markup"></code></pre>
          <pre><code id="html-preview" class="language-markup"></code></pre>
        </div>
        <div id="tooltip">
          Testy
        </div>
        <span id="hint1" class="">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M11 18h2v-2h-2v2m1-12a4 4 0 0 0-4 4h2a2 2 0 0 1 2-2a2 2 0 0 1 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5a4 4 0 0 0-4-4M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z" fill="currentColor"></path></svg>
          Hint 1
        </span>
        <a id="hint2" target="_blank" rel="noopener" class="">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7a5 5 0 0 0-5 5a5 5 0 0 0 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1M8 13h8v-2H8v2m9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1c0 1.71-1.39 3.1-3.1 3.1h-4V17h4a5 5 0 0 0 5-5a5 5 0 0 0-5-5z" fill="currentColor"></path></svg>
          Hint 2
        </a>
      </div>

      <div class="right-column">
        <code id="timer" data-before="">00:00:0</code>
        <blockquote>
          <ul id="levels">
            <!-- levels are added dynamically -->
          </ul>
      </blockquote>
      </div>
    </section>
  </main>

  <footer>
    <span>Made with 🦄 by <a target="_blank" rel="noopener" href="https://twitter.com/wweb_dev">@wweb_dev</a></span>

    <div class="footer-right">
      <a target="_blank" rel="noopener" href="https://wweb.dev/">wweb.dev</a>
      <a href="/privacy.html">privacy</a>
    </div>
  </footer>

  <div id="verification" class="hidden">

  </div>

  <script src="bundle.js"></script>
</body>
</html>
