<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://css-speedrun.netlify.app/privacy">
  <title>CSS Speedrun | Privacy Policy</title>

  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <link rel="stylesheet" href="https://newcss.net/theme/night.css">
  <link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
  <link href="/assets/prism.css" rel="stylesheet" />
  <!-- Quick start with https://newcss.net/ -->
  <link rel="stylesheet" href="index.css">
  <script defer src="https://analytics.vincentwill.com/script.js" data-website-id="1fb07e86-a0cc-49c6-9988-10e0faa3f26d"></script>
</head>
<body>
  <header>
    <a href="/">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-8 5H9v2c0 1.1-.9 2-2 2c1.1 0 2 .9 2 2v2h2v2H9c-1.1 0-2-.9-2-2v-1c0-1.1-.9-2-2-2v-2c1.1 0 2-.9 2-2V8c0-1.1.9-2 2-2h2v2m8 5c-1.1 0-2 .9-2 2v1c0 1.1-.9 2-2 2h-2v-2h2v-2c0-1.1.9-2 2-2c-1.1 0-2-.9-2-2V8h-2V6h2c1.1 0 2 .9 2 2v1c0 1.1.9 2 2 2v2z" fill="currentColor"></path></svg>
      <h1>CSS Speedrun</h1>
    </a>
    <div>
      <div class="social">
        <a target="_blank" rel="noopener" href="https://github.com/Vincenius/css-speedrun">
          <span>GitHub</span>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2z" fill="currentColor"></path></svg>
        </a>
      </div>
    </div>
  </header>

  <main>
    <h1>Privacy Policy</h1>

    <h2>Honest and human readable version</h2>
    <p>
        I try to keep this website as privacy friendly as possible.
        I am using a self hosted version of <a href="https://umami.is/" target="_blank" rel="noopener">umami</a> for the only purpose of knowing how many people are visiting this website.
    </p>
    <p>
        <b>If you enable "Do Not Track" in your browser I won't track you</b>.
        Also AdBlockers will work for blocking the tracking. I'd recomment <i>uBlock Origin</i> for that.
    </p>
    <p>
        Other than that there is nothing that could track you, as far as I'm aware of. No share links (eg. facebook),
        no cookies and no other tools.
    </p>
    <p>
        If you think I'm missing something here - please let me know: info@wweb.dev
    </p>

    <br />
    <hr />
    <br />

    <h2>Version for my legal safety</h2>
    <p>Effective date: January 15, 2020</p>
    <p>Updated date: May 07 2020</p>
    <p>
        Vincent Will ('us', 'we', or 'our') operates the
        https://wweb.dev website (hereinafter referred to
        as the 'Service').
    </p>
    <p>
        This page informs you of our policies regarding the
        collection, use, and disclosure of personal data when
        you use our Service and the choices you have associated
        with that data. Our Privacy Policy for Vincent Will is
        created with the help of the
        <a href="https://www.privacypolicies.com/free-privacy-policy-generator/">
            PrivacyPolicies.com Privacy Policy Generator
        </a>.
    </p>
    <p>
        We use your data to provide and improve the Service. By
        using the Service, you agree to the collection and use
        of information in accordance with this policy. Unless
        otherwise defined in this Privacy Policy, the terms used
        in this Privacy Policy have the same meanings as in our
        Terms and Conditions, accessible from
        https://wweb.dev
    </p>
    <h2>Information Collection And Use</h2>
    <p>
        We collect several different types of information for
        various purposes to provide and improve our Service to
        you.
    </p>
    <h3>Types of Data Collected</h3>
    <h4>Personal Data</h4>
    <p>
        While using our Service, we may ask you to provide us
        with certain personally identifiable information that
        can be used to contact or identify you ('Personal
        Data'). Personally identifiable information may include,
        but is not limited to:
    </p>
    <ul>
        <li>Cookies and Usage Data</li>
    </ul>
    <h4>Usage Data</h4>
    <p>
        We may also collect information on how the Service is
        accessed and used ('Usage Data'). This Usage Data may
        include information such as your computer's Internet
        Protocol address (e.g. IP address), browser type,
        browser version, the pages of our Service that you
        visit, the time and date of your visit, the time spent
        on those pages, unique device identifiers and other
        diagnostic data.
    </p>
    <h4>Tracking & Cookies Data</h4>
    <p>
        We use cookies and similar tracking technologies to
        track the activity on our Service and hold certain
        information.
    </p>
    <p>
        Cookies are files with small amount of data which may
        include an anonymous unique identifier. Cookies are sent
        to your browser from a website and stored on your
        device. Tracking technologies also used are beacons,
        tags, and scripts to collect and track information and
        to improve and analyze our Service.
    </p>
    <p>
        You can instruct your browser to refuse all cookies or
        to indicate when a cookie is being sent. However, if you
        do not accept cookies, you may not be able to use some
        portions of our Service. You can learn more how to
        manage cookies in the
        <a
            href="https://privacypolicies.com/blog/how-to-delete-cookies/"
            >Browser Cookies Guide</a>.
    </p>
    <p>Examples of Cookies we use:</p>
    <ul>
        <li>
            <strong>Session Cookies.</strong> We use Session
            Cookies to operate our Service.
        </li>
        <li>
            <strong>Preference Cookies.</strong> We use
            Preference Cookies to remember your preferences and
            various settings.
        </li>
        <li>
            <strong>Security Cookies.</strong> We use Security
            Cookies for security purposes.
        </li>
    </ul>
    <h2>Use of Data</h2>
    <p>
        Vincent Will uses the collected data for various
        purposes:
    </p>
    <ul>
        <li>To provide and maintain the Service</li>
        <li>To notify you about changes to our Service</li>
        <li>
            To allow you to participate in interactive features
            of our Service when you choose to do so
        </li>
        <li>To provide customer care and support</li>
        <li>
            To provide analysis or valuable information so that
            we can improve the Service
        </li>
        <li>To monitor the usage of the Service</li>
        <li>To detect, prevent and address technical issues</li>
    </ul>
    <h2>Transfer Of Data</h2>
    <p>
        Your information, including Personal Data, may be
        transferred to — and maintained on — computers located
        outside of your state, province, country or other
        governmental jurisdiction where the data protection laws
        may differ than those from your jurisdiction.
    </p>
    <p>
        If you are located outside Germany and choose to provide
        information to us, please note that we transfer the
        data, including Personal Data, to Germany and process it
        there.
    </p>
    <p>
        Your consent to this Privacy Policy followed by your
        submission of such information represents your agreement
        to that transfer.
    </p>
    <p>
        Vincent Will will take all steps reasonably necessary to
        ensure that your data is treated securely and in
        accordance with this Privacy Policy and no transfer of
        your Personal Data will take place to an organization or
        a country unless there are adequate controls in place
        including the security of your data and other personal
        information.
    </p>
    <h2>Disclosure Of Data</h2>
    <h3>Legal Requirements</h3>
    <p>
        Vincent Will may disclose your Personal Data in the good
        faith belief that such action is necessary to:
    </p>
    <ul>
        <li>To comply with a legal obligation</li>
        <li>
            To protect and defend the rights or property of
            Vincent Will
        </li>
        <li>
            To prevent or investigate possible wrongdoing in
            connection with the Service
        </li>
        <li>
            To protect the personal safety of users of the
            Service or the public
        </li>
        <li>To protect against legal liability</li>
    </ul>
    <h2>Security Of Data</h2>
    <p>
        The security of your data is important to us, but
        remember that no method of transmission over the
        Internet, or method of electronic storage is 100%
        secure. While we strive to use commercially acceptable
        means to protect your Personal Data, we cannot guarantee
        its absolute security.
    </p>
    <h2>Service Providers</h2>
    <p>
        We may employ third party companies and individuals to
        facilitate our Service ('Service Providers'), to provide
        the Service on our behalf, to perform Service-related
        services or to assist us in analyzing how our Service is
        used.
    </p>
    <p>
        These third parties have access to your Personal Data
        only to perform these tasks on our behalf and are
        obligated not to disclose or use it for any other
        purpose.
    </p>
    <h3>Analytics</h3>
    <p>
        We may use third-party Service Providers to monitor and
        analyze the use of our Service.
    </p>
    <ul>
        <li>
            <p><strong>Umami</strong></p>
            <p>
                Umami is a web analytics service. Umami does not use any cookies in the tracking code.
                It does not collect any personally identifiable information and anonymizes all data collected.
            </p>
        </li>
    </ul>

    <h2>Links To Other Sites</h2>
    <p>
        Our Service may contain links to other sites that are
        not operated by us. If you click on a third party link,
        you will be directed to that third party's site. We
        strongly advise you to review the Privacy Policy of
        every site you visit.
    </p>
    <p>
        We have no control over and assume no responsibility for
        the content, privacy policies or practices of any third
        party sites or services.
    </p>
    <h2>Children's Privacy</h2>
    <p>
        Our Service does not address anyone under the age of 18
        ('Children').
    </p>
    <p>
        We do not knowingly collect personally identifiable
        information from anyone under the age of 18. If you are
        a parent or guardian and you are aware that your
        Children has provided us with Personal Data, please
        contact us. If we become aware that we have collected
        Personal Data from children without verification of
        parental consent, we take steps to remove that
        information from our servers.
    </p>
    <h2>Changes To This Privacy Policy</h2>
    <p>
        We may update our Privacy Policy from time to time. We
        will notify you of any changes by posting the new
        Privacy Policy on this page.
    </p>
    <p>
        We will let you know via email and/or a prominent notice
        on our Service, prior to the change becoming effective
        and update the 'effective date' at the top of this
        Privacy Policy.
    </p>
    <p>
        You are advised to review this Privacy Policy
        periodically for any changes. Changes to this Privacy
        Policy are effective when they are posted on this page.
    </p>
    <h2>Contact Us</h2>
    <p>
        If you have any questions about this Privacy Policy,
        please contact us:
    </p>
    <ul>
        <li>By email: info@wweb.dev</li>
    </ul>
  </main>

  <footer>
    <span>Made with 🦄 by <a target="_blank" rel="noopener" href="https://twitter.com/wweb_dev">@wweb_dev</a></span>

    <div class="footer-right">
      <a target="_blank" rel="noopener" href="https://wweb.dev/">wweb.dev</a>
      <a href="/privacy.html">privacy</a>
    </div>
  </footer>
</body>
</html>
